<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <script src="/js/jquery-2.1.4.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/jquery-ui-1.11.4/jquery-ui.min.css">
        <script src="/jquery-ui-1.11.4/jquery-ui.min.js"></script>
  </head>
  <body>
    <div class="neon">
	    <div>Nombre: <span id="id_nombre" class="color_rojo"></span> <a id="cambiar_nombre" href="#">Cambiar</a>
	    	<span id="estado"></span>
	    	<span id="esperando"></span>
	    </div>
        <div id="pantalla" class="ladrillo">
            <canvas id="mapa" class="fondo_verde" width="200" height="500"></canvas>
        </div>
        <div id="pantalla_sig" class="ladrillo">
            <canvas id="sig" class="fondo_verde" width="80" height="80"></canvas>
        </div>
    </div>
    <div class="puntaje neon">
        <div>Puntos: <font id="puntaje">0</font></div>
        <div>Lineas: <font id="lineas">0</font></div>
    </div>
    <div id="op" class="puntaje neon">
        <div>Oponenetes:</div>
    </div>

    <div id="dialog-jugador" title="Datos del Jugador">
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" id="nombre" value="" maxlength="20">
    </div>

	<script>
		var id_pagina = <%= id %>;
	</script>
	<script src="/socket.io/socket.io.js"></script>
    <script src="/js/tetris.js"></script>
    <script src="/js/itetris.js"></script>
	<script src="/js/client.js"></script>
  </body>
</html>

